MAIL_DOMAIN=example.com
MAIL_HOST=mail.example.com
SMTP_LOGIN=noreply@example.com
TLS_CERT=/etc/letsencrypt/live/mail.example.com/fullchain.pem
TLS_KEY=/etc/letsencrypt/live/mail.example.com/privkey.pem
DKIM_SELECTOR=default
VMAIL_UID=5000
VMAIL_GID=5000
